@media screen and (min-width:0px) and (max-width:500px) {

    .container-2{
        flex-direction: column;
        height: 1500px;
    }
    body,html{
        overflow-x: hidden;
    }
    .container-3{
        flex-direction: column;
        height: 1000px;
    }
    .box-1{
        /* border: 2px solid black; */
        width: 100%;
    }
    .box-1-right{
        /* border: 2px solid red; */
        width: 100%;
    }
    .box-1-right>button{
        width: 120px;
        margin: 0px auto;
        height: 30px;
        font-size: 10px;
    }
    .container-3>.box-1-right>h2{
        text-align: center;
        margin-left: 0%;
    }
    .circle{
        /* border: 2px solid black; */
        left: 70%;
        width: 25vw;
        /* height: 80px; */
        /* width: 35%; */
    }
    .container-4{
        flex-direction: column;
        height: 1500px;
    }
    .container-5{
        flex-direction: column;
        height: 1200px;
    }
    .client{
        flex-direction: column;
        /* height: 1500px; */
        /* border: 2px solid red; */
        height: 1400px;
    }
    .client-1{
        width: 80%;
    }
    .container-6{
        height: 1500px;
    }
    .container-7>.container-7-1{
        border: 2px solid white;
    }
    .left{
        /* border: 2px solid black; */
    }
    .right{
        /* border: 2px solid black; */
    }
    #card{
        height: 800px;
    }
    .card-1{
        height: 200px;
        /* margin-top: 100px; */
    }
    .card-2{
        height: 180px;
        /* margin-top: 100px; */
    
    }
    .card-3{
        height: 220px;
        /* margin-top: 100px; */
    
    }
    .card-4{
        height: 230px;
        /* margin-top: -100px; */
    }
    .card-5{
        height: 220px;
    }
    .card-6{
        height: 250px;
    }
    .cards{
        /* border: 2px solid black; */
        height: 300px;
        /* justify-content: bottom; */
        align-items: last baseline;
    }
    .cards-1{
        /* border: 2px solid black; */
        align-items: flex-start;
        height: 300px;
    }
    .container-8{
        flex-direction: column;
        height: 1700px;
        justify-content: center;
        align-items: center;
    }
    .container-5>.child-left{
        /* border: 2px solid black; */
        width: 100%;
    }
    .container-5>.child-right{
        /* border: 2px solid black; */
        width: 100%;
    }
    .progress>.head{
        /* border: 2px solid black; */
        gap: 40%;
    }
    .progress>.bar{
        /* border: 2px solid red; */
        /* width: 100%; */
        /* justify-content: center; */
        gap: 0px;
    }
    .heading{
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .heading:nth-child(1){
        font-size: 7vw;
        text-transform: capitalize;
    }
    section>.content{
        flex-direction: column;
        /* border: 2px solid red; */
        height: 1100px;
        /* align-items: first baseline; */
        /* justify-content: space-evenly; */
    }
    .content>.left{
        width: 100%;
        align-items: center;
        height: 300px;
        /* flex-direction: row; */
    }
    section>.content>.left>button{
        margin-right: 5%;
        height: 40px;
    
        font-size: 20px;
        width: 130px;
    }
    .content>.left>p{
        padding-left: 0;
        text-align: center;
    }
    .girl-clone{
        height: 80%;
        width: 100%;
    }
    section>.content>.left>h1{
        /* text-align: center; */
        /* margin-left: 100px; */
    
        /* margin: -100px; */
    
        /* padding: 0; */
    }
    .content>.right{
        width: 100%;
    }
    section{
        height: 1100px;
    }
    .container-8-1{
        width: 90%;
    }
    .container-8-2{
        width: 90%;
    }
    .container-8-3{
        width: 90%;
    }
    .container-8-4{
        width: 90%;
    }
footer{
    height: 2000px;

}
.footer{
    height: 1400px;
    flex-direction: column;
    /* border: 2px solid white; */
}
.last-fotter{
    flex-direction: column;
    height: 400px;
    /* border: 2px solid purple; */
    align-items: center;
}
}
